{{#each solicitudes}}
<div class="">
    <a href="/ofertas/" class="list-group-item list-group-item-action"><strong>{{nombres}} {{apellidos}}</strong> ha
        solicitado <strong>{{tiempoOferta}}</strong> horas de tu oferta <strong>{{nombre_oferta}}</strong></a>
</div>
{{/each}}