<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card" style="width: 18rem;">
                <img src="https://image.ibb.co/f5Kehq/bio-image.jpg" class="card-img-top" >
                <div class="card-body">
                    <h5 class="card-title">{{user.nombres}} {{user.apellidos}}</h5>
                    <p class="card-text">Tiempo disponible {{tiempo}} horas</p>
                    <a href="/ofertas/misofertas/add" class="btn btn-primary">Crear oferta</a>
                </div>
            </div>
        </div>
    </div>
</div>