<div class="container p-4">
  <div class="row">
    {{#each categorias}}
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <a href="/categorias/{{id_categoria}}">
            <img src="/img/categorias/{{nombre}}.png" alt="Responsive image" class="img-thumbnail">
          </a>
        </div>
      </div>
    </div>
    {{else}}
    <div class="col-md-4 mx-auto">
      <div class="card card-body text-center">
        <p> No hay ofertas todavia</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>
